@media (min-width: 1025px) {
    .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link {
        background-color: none;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #9096b8;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #9096b8;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #9096b8;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__hor-arrow {
        color: #6c7293;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link {
        background-color: none;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link {
        background-color: none;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link {
        background-color: none;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu {
        background-color: #1e1e2d;
        box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link {
        background-color: transparent;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #a2a3b7;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__hor-arrow {
        color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        > .kt-menu__item {
        border-right: 1px solid rgba(73, 75, 116, 0.25);
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__heading
        > .kt-menu__link-text {
        color: #a2a3b7;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__heading
        > .kt-menu__link-icon {
        color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link {
        background-color: transparent;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #a2a3b7;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__hor-arrow {
        color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
}

@media (max-width: 1024px) {
    .kt-header-menu-mobile {
        background-color: #1e1e2d;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #a2a3b7;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #494b74;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #494b74;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #5c5e81;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #5c5e81;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #5c5e81;
    }
    .kt-header-menu-mobile .kt-menu__nav > .kt-menu__item.kt-menu__item--open {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #ffffff;
    }
    .kt-header-menu-mobile .kt-menu__nav > .kt-menu__item.kt-menu__item--here {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #ffffff;
    }
    .kt-header-menu-mobile .kt-menu__nav > .kt-menu__item > .kt-menu__arrow {
        color: #1e1e2d;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__section
        .kt-menu__section-text {
        color: #4c4e6f;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__section
        .kt-menu__section-icon {
        color: #4c4e6f;
    }
    .kt-header-menu-mobile .kt-menu__nav > .kt-menu__separator {
        border-bottom: 1px solid #4c4e6f;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #9899ac;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #494b74;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #494b74;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #5c5e81;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #5c5e81;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #5c5e81;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__section
        .kt-menu__section-text {
        color: #4c4e6f;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__section
        .kt-menu__section-icon {
        color: #4c4e6f;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__separator {
        border-bottom: 1px solid #4c4e6f;
    }
}

@media (max-width: 1024px) {
    .kt-header-menu-wrapper {
        background-color: #1e1e2d;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-x {
        background: transparent;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-x:hover,
    .kt-header-menu-wrapper .ps > .ps__rail-x:focus {
        opacity: 1;
        background: transparent;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-x:hover > .ps__thumb-x,
    .kt-header-menu-wrapper .ps > .ps__rail-x:focus > .ps__thumb-x {
        opacity: 1;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-x > .ps__thumb-x {
        background: #637099;
        opacity: 1;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-x > .ps__thumb-x:hover,
    .kt-header-menu-wrapper .ps > .ps__rail-x > .ps__thumb-x:focus {
        opacity: 1;
        background: #637099;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-y {
        background: transparent;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-y:hover,
    .kt-header-menu-wrapper .ps > .ps__rail-y:focus {
        background: transparent;
        opacity: 1;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-y:hover > .ps__thumb-y,
    .kt-header-menu-wrapper .ps > .ps__rail-y:focus > .ps__thumb-y {
        opacity: 1;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-y > .ps__thumb-y {
        background: #637099;
        opacity: 1;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-y > .ps__thumb-y:hover,
    .kt-header-menu-wrapper .ps > .ps__rail-y > .ps__thumb-y:focus {
        opacity: 1;
        background: #637099;
    }
}
