@media (min-width: 1025px) {
    .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link {
        background-color: none;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #9096b8;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #9096b8;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #9096b8;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__hor-arrow {
        color: #6c7293;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link {
        background-color: none;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link {
        background-color: none;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link {
        background-color: none;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu {
        background-color: #ffffff;
        box-shadow: 0px 15px 50px 0px rgba(82, 63, 105, 0.15);
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #cacad2;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #cacad2;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #cacad2;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #cacad2;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #5f6281;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__hor-arrow {
        color: #cacad2;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link {
        background-color: #fafbff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link {
        background-color: #fafbff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link {
        background-color: #fafbff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        > .kt-menu__item {
        border-right: 1px solid #f6f6f9;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__heading
        > .kt-menu__link-text {
        color: #5f6281;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__heading
        > .kt-menu__link-icon {
        color: #cacad2;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #cacad2;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #cacad2;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #cacad2;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #cacad2;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #5f6281;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__hor-arrow {
        color: #cacad2;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link {
        background-color: #fafbff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link {
        background-color: #fafbff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link {
        background-color: #fafbff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
}

@media (max-width: 1024px) {
    .kt-header-menu-mobile {
        background-color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #313752;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #c4cff9;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #c4cff9;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #c4cff9;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #c4cff9;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #c4cff9;
    }
    .kt-header-menu-mobile .kt-menu__nav > .kt-menu__item.kt-menu__item--open {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link {
        background-color: #f6f7fd;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #f71735;
    }
    .kt-header-menu-mobile .kt-menu__nav > .kt-menu__item.kt-menu__item--here {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link {
        background-color: #f6f7fd;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link {
        background-color: #f6f7fd;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link {
        background-color: #f6f7fd;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #f71735;
    }
    .kt-header-menu-mobile .kt-menu__nav > .kt-menu__item > .kt-menu__arrow {
        color: #ffffff;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__section
        .kt-menu__section-text {
        color: #a1a8c3;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__section
        .kt-menu__section-icon {
        color: #a1a8c3;
    }
    .kt-header-menu-mobile .kt-menu__nav > .kt-menu__separator {
        border-bottom: 1px solid #a1a8c3;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #3d4465;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #c4cff9;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #c4cff9;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #c4cff9;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #c4cff9;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #c4cff9;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link {
        background-color: #f8f8fb;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--open
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__link {
        background-color: #f8f8fb;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link {
        background-color: #f8f8fb;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover {
        transition: background-color 0.3s;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link {
        background-color: #f8f8fb;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-text,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-icon,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__heading
        .kt-menu__ver-arrow,
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
        > .kt-menu__link
        .kt-menu__ver-arrow {
        color: #f71735;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__section
        .kt-menu__section-text {
        color: #a4a7bd;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__section
        .kt-menu__section-icon {
        color: #aaacc2;
    }
    .kt-header-menu-mobile
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        .kt-menu__separator {
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    }
}
