@media (min-width: 1025px) {
    .kt-header {
        background-color: #1e1e2d;
        box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
    }
    .kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link {
        border-radius: 4px;
    }
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #c0c4d1;
        font-weight: 500;
    }
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__hor-arrow {
        color: #677191;
    }
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__hor-icon {
        color: #677191;
    }
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link,
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link,
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover
        > .kt-menu__link {
        background-color: #282f48;
    }
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-text,
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text,
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__hor-arrow,
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__hor-arrow,
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover
        > .kt-menu__link
        .kt-menu__hor-arrow {
        color: #ffffff;
    }
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__hor-icon,
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__hor-icon,
    .kt-header
        .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover
        > .kt-menu__link
        .kt-menu__hor-icon {
        color: #ffffff;
    }
}

.kt-header .kt-header__topbar {
    padding-right: 15px;
}
.kt-aside-secondary--enabled .kt-header .kt-header__topbar {
    padding-right: 0;
}
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item
    .kt-header__topbar-icon
    i {
    color: #6e7899;
}
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item
    .kt-header__topbar-icon
    svg
    g
    [fill] {
    fill: #6e7899;
}
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item.kt-header__topbar-item--user
    .kt-header__topbar-welcome {
    color: #6b7594;
}
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item.kt-header__topbar-item--user
    .kt-header__topbar-username {
    color: #c0c4d1;
}
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item.kt-header__topbar--quick-panel-toggler
    .kt-header__topbar-icon
    i {
    color: #6e7899;
}
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item:hover
    .kt-header__topbar-icon,
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item.show
    .kt-header__topbar-icon {
    background-color: #282f48;
}
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item:hover
    .kt-header__topbar-icon
    i,
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item.show
    .kt-header__topbar-icon
    i {
    color: #fff;
}
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item:hover
    .kt-header__topbar-icon
    svg
    g
    [fill],
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item.show
    .kt-header__topbar-icon
    svg
    g
    [fill] {
    fill: #fff;
}
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item:hover.kt-header__topbar-item--user
    .kt-header__topbar-user,
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item.show.kt-header__topbar-item--user
    .kt-header__topbar-user {
    transition: all 0.3s;
    background-color: #282f48;
}
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item:hover.kt-header__topbar-item--user
    .kt-header__topbar-user
    .kt-header__topbar-username,
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item.show.kt-header__topbar-item--user
    .kt-header__topbar-user
    .kt-header__topbar-username {
    color: #ffffff;
}
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item:hover.kt-header__topbar--quick-panel-toggler,
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item.show.kt-header__topbar--quick-panel-toggler {
    background-color: #f71735;
}
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item:hover.kt-header__topbar--quick-panel-toggler
    .kt-header__topbar-icon
    i,
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item.show.kt-header__topbar--quick-panel-toggler
    .kt-header__topbar-icon
    i {
    color: #ffffff;
}
.kt-header
    .kt-header__topbar
    .kt-header__topbar-item.kt-header__topbar-item--search
    .kt-input-icon
    .kt-input-icon__icon
    i {
    color: #74788d;
}

@media (max-width: 1024px) {
    .kt-header-menu-wrapper {
        background-color: #1e1e2d;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-x {
        background: transparent;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-x:hover,
    .kt-header-menu-wrapper .ps > .ps__rail-x:focus {
        opacity: 1;
        background: transparent;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-x:hover > .ps__thumb-x,
    .kt-header-menu-wrapper .ps > .ps__rail-x:focus > .ps__thumb-x {
        opacity: 1;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-x > .ps__thumb-x {
        background: #637099;
        opacity: 1;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-x > .ps__thumb-x:hover,
    .kt-header-menu-wrapper .ps > .ps__rail-x > .ps__thumb-x:focus {
        opacity: 1;
        background: #637099;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-y {
        background: transparent;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-y:hover,
    .kt-header-menu-wrapper .ps > .ps__rail-y:focus {
        background: transparent;
        opacity: 1;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-y:hover > .ps__thumb-y,
    .kt-header-menu-wrapper .ps > .ps__rail-y:focus > .ps__thumb-y {
        opacity: 1;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-y > .ps__thumb-y {
        background: #637099;
        opacity: 1;
    }
    .kt-header-menu-wrapper .ps > .ps__rail-y > .ps__thumb-y:hover,
    .kt-header-menu-wrapper .ps > .ps__rail-y > .ps__thumb-y:focus {
        opacity: 1;
        background: #637099;
    }
    .kt-header__topbar {
        background-color: #1e1e2d;
        box-shadow: none;
    }
    .kt-header__topbar--mobile-on .kt-header__topbar {
        box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
        border-top: 1px solid #2e3448;
    }
}

@media (max-width: 1024px) and (min-width: 1025px) {
    .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link {
        background-color: none;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #9096b8;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #9096b8;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #9096b8;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__hor-arrow {
        color: #6c7293;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link {
        background-color: none;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link {
        background-color: none;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link {
        background-color: none;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu {
        background-color: #1e1e2d;
        box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link {
        background-color: transparent;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #a2a3b7;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__hor-arrow {
        color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        > .kt-menu__item {
        border-right: 1px solid rgba(73, 75, 116, 0.25);
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__heading
        > .kt-menu__link-text {
        color: #a2a3b7;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__heading
        > .kt-menu__link-icon {
        color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link {
        background-color: transparent;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__link-text {
        color: #a2a3b7;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item
        > .kt-menu__link
        .kt-menu__hor-arrow {
        color: #494b74;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--active
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--here
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link {
        background-color: #1b1b28;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon {
        color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg
        g
        [fill] {
        transition: fill 0.3s ease;
        fill: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill],
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-icon
        svg:hover
        g
        [fill] {
        transition: fill 0.3s ease;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--dot
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-bullet.kt-menu__link-bullet--line
        > span {
        background-color: #f71735;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        .kt-menu__link-text {
        color: #ffffff;
    }
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow,
    .kt-header-menu
        .kt-menu__nav
        > .kt-menu__item
        .kt-menu__submenu
        > .kt-menu__subnav
        .kt-menu__content
        .kt-menu__inner
        > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)
        > .kt-menu__link
        > .kt-menu__hor-arrow {
        color: #f71735;
    }
}
